.recipe-wrapper h1{
    font-family: 'Bebas Neue', cursive;
    text-shadow: 5px 5px 4px rgba(65, 73, 59,0.4);
}

.recipe-wrapper{
    color: #41493B;
}

.quote-text {
    font-size: 1.18rem !important;
}

#root{
    background-image: linear-gradient(to bottom, rgba(170, 213, 142,0.1),rgba(170, 213, 142,0.4)) !important;
}