.home {
  color: #41493b;
}

.home p {
  font-family: "Bebas Neue", cursive;
}

.home-text {
  font-size: 7rem;
  line-height: 6rem;
  margin-top: 20%;
  animation: fadeIn 2.5s ease;
}

.home-dropdown{
    margin-top: 20%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100px;
  }
}

.yellow {
  color: #f8d780;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #41493b;
  display:  inline-block;
}

.css-19chxnm-control{
    border-color: #41493b !important;
    box-shadow: none !important;
}

.css-r11et3-control:focus{
    box-shadow: none !important;
    border-color: #41493b !important;
}

.css-r11et3-control{
    box-shadow: none !important;
    border-color: #41493b !important;
}

.btn-secondary{
  background-color: #41493b;
  color:#F6FBF2;
}

.btn-secondary:hover{
  background-color: rgba(65, 73, 59,0.80);
}

.button-link{
  font-family: "Bebas Neue", cursive;
  color: #F6FBF2;
  text-decoration: none;
}

.button-link:hover{
  color: #F6FBF2;
}

.shaky{
  animation: shake 8s infinite ease-in-out;
}

.shaky2{
  animation: shake 6s infinite ease-in-out;
  animation-delay: 3s;
}

.shaky3{
  animation: shaketwo 7s infinite ease-in-out;
  animation-delay: 1s;
  animation-direction:reverse;
}

@keyframes shake {
	
  0%   { transform:  rotate(0deg);   }
  20%  { transform:  rotate(0deg) scale(1); }
  23%  { transform:  rotate(-2deg) scale(0.8); }
  25%  { transform:  rotate(0deg) scale(1.1); }
  29%  { transform:  rotate(8deg) scale(0.8); }
  30%  { transform:  rotate(0deg) scale(1); }
  93%  { transform:  rotate(0deg);   }
  95%  { transform:  rotate(10deg);  }
  97%  { transform:  rotate(-10deg); }
  100% { transform:  rotate(0deg);   }

}

@keyframes shaketwo {
	
  0%   { transform:  rotate(0deg);   }
  20%  { transform:  rotate(0deg) }
  90%  { transform:  rotate(0deg);   }
  95%  { transform:  rotate(10deg);  }
  97%  { transform:  rotate(-10deg); }
  100% { transform:  rotate(0deg);   }

}