body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('./Assets/bg-2.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(170, 213, 142,0.3),rgba(170, 213, 142,0.7));
}

.app{
  min-height: 100vh;
}